* {
	margin: 0;
	padding: 0;
}
body {
	background: url(images/noise_light-grey.jpg);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	font-weight: 400;
	margin: 0 0 20px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}
    
h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	text-align: center;
	text-shadow: 1px 1px 0 #fff, 1px 1px 0 #bbb;
    
}
    
hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}
.centered {
	text-align: center;
}
.wrapper {
	width: 100%;
	padding: 30px 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
ul.grid-nav {
	list-style: none;
	font-size: .85em;
	font-weight: 200;
	text-align: center;
}
ul.grid-nav li {
	display: inline-block;
}
ul.grid-nav li a {
	display: inline-block;
	background: #999;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
	background: #7b0;
}
ul.grid-nav li a.active {
	background: #333;
}
.grid-container {
	display: none;
}
/* ----- Image grids ----- */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; 
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
    width: 360px;
	height: 400px;
	margin: 0 0 10px;
    position: relative;
    object-fit: fill;
}

ul.rig li span img {
    border-radius: 50%;
    width: auto;
    height: 35px;
    float:left;

    }
    
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li span p {
	font-size: .8em;
	line-height: 1.5em;
    margin-left: 2%;
    margin-top: 2%;
    float:left;
	color: #999;
}   

    
ul.rig li div p {
	font-size: .8em;
	line-height: 1.5em;
    margin-top: 2%;
    float:right;
	color: #999;
}
    
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
    margin-top: 1%;
    float:left;
	color: #999;
}
    
ul.rig li button {
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    background-color: lightpink;
    color: #fff;
    border-width: 0 1px 1px 0;

    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
ul.rig li button:hover {
    background-color: #fff;
    color: #33739E;
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; 
}


.loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.loadMore:hover {
    background-color: #fff;
    color: #33739E;
}

.heartSolid {
    font-size:15px;
    color:red;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

